:root {
	--blue: #1f6f82 /* #1e90ff; */
	--white: #ffffff;
	--form-bg: #ffffff;/*rgb(238, 237, 205);*/
	--banner-base: #3b6573 /* #567880; */
  }

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.intro_page_para {
	font-size: 1.1rem;
	font-family: 'Titillium Web', sans-serif;
	font-weight: bold;
}


.header_section {
	border-radius: 5px;
	font-family: "Courier";
	padding: 20px;
	padding-left: 200px;
	width: 70%;
	background: rgb(27, 55, 64);
	background-image: url('media/header_art.png'), -moz-linear-gradient(90deg, rgba(27, 55, 64, 1) 13%, rgba(92, 116, 119, 1) 71%, rgba(82, 98, 117, 1) 85%);
	background-image: url('media/header_art.png'), -webkit-linear-gradient(90deg, rgba(27, 55, 64, 1) 13%, rgba(92, 116, 119, 1) 71%, rgba(82, 98, 117, 1) 85%);
	background-image: url('media/header_art.png'), linear-gradient(90deg, rgba(27, 55, 64, 1) 13%, rgba(92, 116, 119, 1) 71%, rgba(82, 98, 117, 1) 85%);
	background-repeat: no-repeat, repeat;
	background-position: left;
	background-size: contain;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1b3740", endColorstr="#526275", GradientType=1);
	box-shadow: 2px 3px 6px #3b3b3b;
}

.vertical_container {
	display: flex;
	flex-direction: row;
}

.body_section {
	width: 80%;
	border: rgb(99, 99, 99) solid 2px;
	padding: 20px;
	margin: 2%;
	box-shadow: 2px 6px 4px rgb(156, 156, 156);
	border-radius: 4px;
	display: flex;
	align-content: center;
	align-items: center;
	flex-direction: column;
}

h1 {
	color: rgb(255, 255, 255);
	text-shadow: 3px 5px 3px #0b1213;
}

h2 {
	color: rgb(255, 255, 255);
	font-size: 20px;
	text-shadow: -3px -2px 3px #0b1213;
}

.intro {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form_div {
	padding: 15px;
	margin: 2%;
	margin-top: 0%;
	border: 1px solid rgb(100, 100, 100);
	box-shadow: 2px 2px 3px inset rgba(156, 156, 156, 0.1);
	border-radius: 4px;
	background-color: var(--form-bg);
	align-content: center;
	width: 28%;
}

.job_list_div {
	padding: 15px;
	margin-bottom: 2%;
	margin-top: 2%;
	margin-top: 0%;
	border: 1px solid rgb(100, 100, 100);
	box-shadow: 1px 1px 13px inset rgba(156, 156, 156, 0.1);
	border-radius: 4px;
	background-color: var(--form-bg);
	align-content: center;
	border-radius: 8px 6px 16px 0px;
	width:72%;
}

button {
	color: green;
}

.form-h2 {
	font-weight: 900;
	/* font-family: 'Courier'; */
	font-family: 'Titillium Web', sans-serif;
}

select {
	font-family: 'Titillium Web', sans-serif;
	font-weight: bold;
}

.submit_button {
	color: white;
	width: 50%;
	border: 1px solid #848484;
	padding: 6px;
	border-radius: 7px;
	background: var(--banner-base);
}

.form-heading {
	color: #43595e; /*#213d73;*/
	padding-bottom: 0;
	text-align: center;
	align-self: center;
	margin-bottom: 10px;
	font-size: 127%;
	font-weight: bold;
	font-family: 'Zilla Slab', serif;
}

.footer {
	border-top: 1px solid rgb(100, 100, 100);
	width: 80%;
	font-size: 14px;
	font-weight: bold;
	font-family: "courier";
}


.job_list_table {
	border-radius: 4px;
	border: 1px solid black;
	background-color: #fff;
	padding: 6px;
	border-collapse: collapse;
	font-family: 'Courier New', Courier, monospace;
	table-layout: fixed;
	width: 100%;
}

th,
td {
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	padding: 6px;
	word-wrap: break-word;
	/* word-break: break-all; */
	border-radius: 2px;
}

tr {
	background-color: inherit;
}

tr:nth-child(2n-1) {
	background-color: #eff2f5;
	height: 100%;
}

tr.th {
	background-color: var(--banner-base);
	color: white;
	border: 2px solid white;
}

th {
	font-family: 'Courier New', Courier, monospace;
	font-weight: lighter;
	border-right: 0px;
}

.cpy-btn {
	background-color: var(--banner-base);
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border: 0px;
	margin-left: -2px;
}

th {
	position: sticky;
	top: 0;
}

input.sch_submit {
	display: inline-block !important;
	margin-left: -7px;
	border-radius: 0px 5px 5px 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0.85%;
	border: 1px solid #c4c4c4;
	background-color: var(--banner-base);
	color: #fff;
}

#sch_txt {
	display: inline-block !important;
}


.scis_logo_outer {
	border: 1px solid black;
	padding: 20px;
	font-family: Courier;
	font-size: 118%;
	font-weight: bold;
}

.scis_logo_inner_1 {
	color:rgba(27, 55, 64, 1);

}

.cdl_heading {
	color: #90b3ec
}
